body{
    background-color: rgb(60, 70, 66);
}
.content{
    max-width: 500px; 
    background-color: rgb(113, 118, 121);
    border-radius: 2vh;  
}
.submit{
    border-radius: 1.5vh;
    background-color: rgb(94, 43, 13);
}
.author{
    font-family: cursive;
}

@media screen and (max-width: 520px){
    body{
        padding: 0 2vh;
    }
    .range{
        font-size: 10px;
    }
}